*{
	box-sizing: border-box;
}

body .nav_list, .nav__list_links{
	margin: 0;
	padding: 0;
	
}

/*NAVBAR STYLING STARTS HERE*/
.nav--dark{
	background: #222;
}

.nav__list, .nav__list-links{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.nav__list{
	padding: 30px 0;
}
.nav__links{
	color: #fff;
	line-height: 14px;
	padding: 15px 15px;
	text-decoration: none;

}



/*NAVBAR STYING END HERE*/

.banner{
	background-color: #eee;
	background-image: url(http://via.placeholder.com/1150x350);
	background-size: cover;
	background-repeat: no-repeat;
	height: 350px;
}

.banner__container{
	align-items: center;
	background: rgba(225,225,225,0.25);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.banner__storyline{
	color: #fff;
	font-size: 40px;
	font-weight: 900px;
}
/*BANNER STYING  END HERE HERE*/

/*COLUMN STYING END HERE*/

.columns__contanier{
	margin: 0 auto;
	max-width: 1011px;
	width: 1011px;
}

.columns__row, .columns__d-flex{
	display: flex;
	flex-wrap: wrap;

}

.columns__column, .columns__column100{
	flex: 0 0 100%;
}

.columns__column50{
	flex: 0 0 50%;

}